<template name="layoutHomepage">
      <div id="main">
       <header class="headerLand headerGhost">
          {{> header }}
        </header>
          {{> yield }}
</div>
</template>

<template name="header">



<div class="themeImg">
<nav id="navbaric" data-sr="enter top hustle 50px over 1.5s" class="moveRight navigation-home navbar navbaric themeNav" role="navigation">
<div class="container">
<div class="navbar-header page-scroll">

<a class="navbar-brand page-scroll aHome" href="/"><img src="{{ dict 'site.logo.url' }}"></a>
</div>
<div class="collapse navbar-collapse" id="">
<ul class="nav navbar-nav navbar-right">
<li><a class="page-scroll aServices" href="#services">Freebies</a> </li>
<!--<li><a id="scrollTeam" class="page-scroll aTeam" href="#team">Paid</a> </li>-->
<li><a class="page-scroll aTech" href="#technologies">Learn about us</a> </li>
</ul>
</div>
</div>
</nav>
<div class="headerWrap-themes">
<canvas width='1200' height='480' id="hero-bar" style="display:none;"></canvas>
<div class="row rowHeader">
<div class="container">
 <h1 data-sr="enter top wait 0.6s over 1.2s">Vanila.io Ghost Themes
</h1>
 <p data-sr="enter top wait 1s over 1s">
Check out our collection of custom made Ghost themes.
</p>
</div>
</div>
</div>
</div>
</template>

<template name="footer">
   <div class="themeContact container">
<ul class="ulSocials">
<li><a class="iconTw" href="https://twitter.com/vanila_io"><i class="fa fa-twitter"></i></a> </li>
<li><a class="iconFb" href="https://www.facebook.com/Vanilaio-1640968586167308/"><i class="fa fa-facebook"></i></a> </li>
<li><a class="iconLi" href="https://www.linkedin.com/company/vanila-io---web-studio"><i class="fa fa-linkedin"></i></a> </li>
</ul>
<span class="themeEmail">
    Our email: <span>stefan@vanila.io</span>
</span>
   </div>
</template>
